:root {
  --purple: black;
  --redorange: #ff4949;
  --teal: #2F8F9D;
  --orange: radial-gradient(circle at 0 0, #2F8F9D, black);
  --gold: #A6E05A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  background: url('public/dice.jpg');
  display: flex;
}

#app {
  flex: 1;
}

h1 {
  font-weight: bold;
  color: white;
  background: var(--orange);
  padding: 15px;
  width: 100%;
  margin: 0 0 30px 0;
  display: inline-block;
  text-shadow: 2px 2px rgba(0, 0, 0, .45);
}

.maxwidth {
  max-width: 1440px;
}