:root {
  --purple: #541690;
  --redorange: #ff4949;
  --orange: #ff8d29;
  --gold: #ffcd38;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--orange);
  font-family: 'Roboto', sans-serif;
  display: flex;
}

#app {
  flex: 1;
}