:root {
  --purple: #4970E0;
  --redorange: #ff4949;
  --orange: #67942C;
  --gold: #A6E05A;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(45deg, #4970e0 20.83%, #67942c 20.83%, #67942c 33.33%, #a6e05a 33.33%, #a6e05a 50%, #4970e0 50%, #4970e0 70.83%, #67942c 70.83%, #67942c 83.33%, #a6e05a 83.33%, #a6e05a 100%);
  background-size: 84.85px 84.85px;
  font-family: 'Roboto', sans-serif;
  display: flex;
}

#app {
  flex: 1;
}

h1 {
  font-weight: bold;
  color: white;
  background: var(--orange);
  padding: 40px 20px;
  width: 100%;
  margin: 0;
  display: inline-block;
  text-shadow: 2px 2px rgba(0, 0, 0, .45);
}

.maxwidth {
  max-width: 1440px;
}